
{lib_dirs, ["deps", "apps"]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [{rafter, ".*", {git, "https://github.com/ricecake/rafter.git"}},
        {crontab, ".*", {git, "https://github.com/ricecake/crontab.git"}},
        {'hash-ring', ".*", {git, "https://github.com/ricecake/hash-ring.git"}}
]}.
