{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
	{'gen_gossip', ".*", {git, "https://github.com/rramsden/gen_gossip.git"}},
        {crontab, ".*", {git, "https://github.com/ricecake/crontab.git"}},
        {'hash_ring', ".*", {git, "https://github.com/ricecake/hash-ring.git"}}
]}.
